numpy==1.26.0
glob2
pickle4
Bio
matplotlib==3.8.3
pandas==2.1.1
seaborn @ https://github.com/mwaskom/seaborn/archive/refs/heads/master.tar.gz#sha256=ad9977695c9ffbc37a690e93c8dd9939b441aa209083714cb477cf269f9dbd5d
alive_progress
icecream==2.1.3
scipy==1.11.3
